* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

header {
  background-color: #404041;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

main {
  display: flex;
}

section {
  /*display: flex;*/
  width:50%;
}

article {

}
h1 {
  font-weight: 300;
  color: #DD1972;
  margin:0;
}

span {
  font-weight: 700;
}

h3 {
  color: #ffffff;
  font-weight: 300;
  /*margin: 0;*/
  margin: 5px;
}

.light-section {
  background-color: #F7F7F7;
  margin: 0px;
  padding: 5px;
}


.dark-section {
  background-color: #404041;
}

.form-title {
  color: #6E6E6E;
  font-weight: 700;
}