* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

header {
  background-color: #404041;
  margin: 0px;

}

/*main {
  display: flex;
  flex-direction: row;
}*/

section {
  /*display: flex;*/
  width:50%;
}

article {

}
h1 {
  font-weight: 300;
  color: #DD1972;
  margin:0;
}

span {
  font-weight: 700;
}

h3 {
  color: #ffffff;
  font-weight: 300;
  margin: 5px;
}

.light-section {
  background-color: #F7F7F7;
  margin: 0px;
  padding: 5px;
}


.dark-section {
  background-color: #404041;
}

.form-title {
  color: #6E6E6E;
  font-weight: 700;
}

.range-update-button {
  background-color: #6E6E6E;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  border: 1px #6E6E6E;
  padding:5px 10px 5px 10px;

}

.submit-guess-button {
  background-color: #6E6E6E;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  border: 1px #6E6E6E;
 padding:5px 10px 5px 10px;



}

.reset-game-button {
  background-color: #D0D2D3;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  border: 1px #D0D2D3;
  padding:5px 10px 5px 10px;


}

.clear-game-button {
  background-color: #D0D2D3;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  border: 1px #D0D2D3;
  padding:5px 10px 5px 10px;
}

.challenger-1-guess {
  color: #DD1972;
  font-size: 50px;
  font-weight: bold;
}

.challenger-2-guess {
  color: #DD1972;
  font-size: 50px;
  font-weight: bold;
}

.range-article {
  background-color: white;
  border: 1px thick #F7F7F7;
  margin: 10px 10px 10px 10px;
  margin: 10px;
  padding: 10px;
}

.challenger-article {
  background-color: white;
  border: 1px thick #F7F7F7;
  margin: 10px 10px 10px 10px;
  margin: 10px;
  padding: 10px;
}

.results-article {
  background-color: white;
  border: 1px thick #F7F7F7;
  margin: 10px 10px 10px 10px;
  margin: 10px;
  padding: 10px;
}