* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #404041;
  margin: 0px;
}

.header-section {
  margin: 2% 0;
  text-align: center;
  width: 670px;
  padding: 0px;
}

h1 {
  font-weight: 300;
  color: #DD1972;
  font-size: 75px;
  margin: -10px;
}

span {
  font-weight: 700;
}

.h3-header {
  color: #FFFFFF;
  font-weight: 300;
  display: flex;
  font-size: 25px;
  margin: 0px;
}

.h3-header:before, 
.h3-header:after {
  content: "";
  flex: 1 1;
  border-bottom: 3px solid #FFFFFF;
  margin: auto 2%;
}

main {
  display: flex;
}

section {
  padding: 20px;
  width:50%;
}

.current-range {
  font-size: 25px;
  margin-bottom: 15px;
}

.light-section {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
}

.dark-section {
  background-color: #D1D2D4;
}

article {
  padding: 15px;
  background-color: white;
}

.light-article,
.min-range,
.max-range,
.challenger-1-name-input,
.challenger-1-guess-input,
.challenger-2-name-input,
.challenger-2-guess-input {
  border: 1px solid #ECECEC;
}

h3 {
  font-weight: 300;
  margin: 5px;
}

.form-title {
  color: #606060;
  font-weight: 700;
  margin: 0px;
  font-size: 35px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.range-form {
  display: flex;
  flex-direction: row;
  color: #6E6E6E;
}

input {
  height: 40px;
  font-size: 20px;
  width: 100%;
}

div {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

.max-range-div {
  margin: 0 auto;
}

.range-update-button {
  background-color: #D0D2D3;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px;
  margin-top: auto;
  margin-left: auto;
  height: 100%;
  font-size: 100%;
  width: 22%;
  font-size: 25px;
}

.range-update-button:hover {
  background-color: #6E6E6E;
}

.error-message-1, 
.error-message-2,
.error-message-3,
.error-message-4,
.error-message-5 {
  font-size: 20px;
  color: #DD1972;
  margin-left: 5px;
}

.error-icon-1,
.error-icon-2,
.error-icon-3,
.error-icon-4,
.error-icon-5 {
  margin-top: 4px;
}

.error-container-1,
.error-container-2,
.error-container-3,
.error-container-4,
.error-container-5 {
  display: flex;
  flex-direction: row;
}

.challenger-article {
  margin: 10px 0px;
}

p {
  color: #6E6E6E;
  margin: 0px;
  font-size: 25px;
}

.min-span,
.max-span {
  text-decoration: underline;
  color: #606060;
}

.challenger-form {
  display: flex;
  flex-direction: row;
  color: #6E6E6E;
}

.name-div {
  width: 70%;
}

.guess-div {
  margin-left: 5%;
}

.button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px; 
}

.name-div {
  width: 70%;
}

.guess-div {
  margin-left: 5%;
}

.submit-guess-button {
  background-color: #D0D2D3;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  border: 1px #6E6E6E;
  height: 100%;
  font-size: 100%;
  padding: 10px;
  width: 30%;
}
.submit-guess-button:hover {
  background-color: #6E6E6E;
}

.reset-game-button {
  background-color: #D0D2D3;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  border: 1px #D0D2D3;
  height: 100%;
  font-size: 100%;
  padding: 10px;
  width: 30%;
}

.reset-game-button:hover {
  background-color: #6E6E6E;
}

.reset-game-button:disabled {
  background-color: #D0D2D3;
}

.clear-game-button:hover {
  background-color: #6E6E6E;
}

.clear-game-button:disabled {
  background-color: #D0D2D3;
}

.clear-game-button {
  background-color: #D0D2D3;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  border: 1px #D0D2D3;
  height: 100%;
  font-size: 100%;
  padding: 10px;
  width: 30%;
}

.challenger-1-guess,
.challenger-2-guess {
  color: #DD1972;
  font-size: 135px;
  font-weight: bold;
  margin: -20px;
}

.current-guess {
  font-size: 30px;
}

.c1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.c2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: solid 1px #D0D2D3; 
  width: 50%;
}

.c-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.challenger-1-result,
.challenger-2-result {
  font-size: 30px;
}

.results-article {
  padding: 5px 10px;
}

.dark-article {
  margin-bottom: 10px;
  border: 1px solid #404041;
  margin: 0 3%;
}

h4 {
  color: #6E6E6E;
  font-size: 30px;
  margin: 0px;
}

.card-h4 {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: solid 1px #D0D2D3;
  padding-bottom: 5px;
}

.card-span {
  font-weight: 100;
}

.card-winner-name,
.card-winner-text {
  text-align: center;
  color: #6E6E6E;
}

.card-winner-name {
  font-size: 60px;
  margin-top: 2%;
  margin-bottom: -55px;
}

.card-winner-text {
  font-weight: 100;
  margin-bottom: 2%;
  font-size: 50px;
}

.card-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid 1px #D0D2D3;
  padding-top: 5px;
}

.close-card {
  background-color: #D0D2D3;
  color: #FFFFFF;
  border-radius: 100%;
  border: none;
  width: 30px;
  font-size: 25px;
}

.close-card:hover {
  background-color: #6E6E6E;
}

.close-card:disabled {
  background-color: #D0D2D3;
}

@media screen and (max-width: 1250px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section {
    width: 75%;
  }
}

@media screen and (max-width: 800px) {
  .header-section {
    margin: 7% 0;
    text-align: center;
    width: 100%;
  }

  .h3-header {
    font-size: 20px;
  }

  .h3-header:before, 
  .h3-header:after {
    border-bottom: 1px solid #FFFFFF;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  section {
    width: 100%;
  }

  h1 {
    font-size: 35px;
  }
  
  .light-section,
  .dark-section {
    padding: 5px;
  }

  .range-form {
    display: flex;
    flex-direction: column;
    width:; 100%
  }

  .max-range-div {
    margin: 0px;
  }

  .range-update-button {
    margin-top: 3%;
    margin-right: auto;
    margin-left: 0;
    width: 135px;
  }

  .name-div {
    width: 100%;
  }

  .guess-div {
    margin-left: 0%;
  }

  .challenger-form {
    display: flex;
    flex-direction: column;
  }

  .button-div {
    flex-direction: column;
  }

  .submit-guess-button,
  .reset-game-button,
  .clear-game-button {
    width: 100%;
  }

  .reset-game-button {
    margin: 5% 0;
  }

  .c-container {
    flex-direction: column;
    align-items: center;
  }
  .c1-container,
  .c2-container {
    width: 100%;
  }

  .c2-container {
    border-left: none;
    border-top: 1px solid #D0D2D3;
  }

  .challenger-1-name,
  .challenger-2-name,
  .current-guess {
    text-align: center;
  }

  .challenger-2-name {
    margin-top: 5%;
  }

  .card-h4 {
    flex-direction: column;
    text-align: center;
  }
}